table, th, td{
    border: 1px solid black;
    padding:10px;
}

table{
    width:100%;
}

th{
    background-color: black;
    color:white;
}

td img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#dishForm-child{
    background-color: #ffdf91;
    padding:10px 20px;
}

input,textarea,select{
    margin-left: 10px;
}

#newOption{
    background-color: #ffdf91;
    padding:10px 20px;
}