body, .modal-body{
    background: #ffe5C7;
}

li{
    margin: 0 10px;
    font-weight: bold;
}

li a, label, h1, p{
    color: #613C11FF;
}

li a:hover{
    transition:0.3s ease;
    color: #ffffff;
}

select{
    border-color: #ffffff;
}

hr{
    border-top:1px solid rgba(86, 46, 0, 0.44);
}

footer{
    text-align: center;
}

.nav{
    margin-left:10px;
}

.card-header{
    padding: 0;
}

.nav-container{
    box-shadow: 0 4px 4px #888888;
    margin-bottom: 2%;
    background-color: #EFB71AFF;
}

#page-navigator input{
    width:100px;
}

td img {
    width: 400px;
    height: 200px;
}

#logDataTable tbody td{
    height: 50px;
}

.viewBtn{
    text-align: center;
}

#manage-button button{
    width:150px;
    margin: 2% 0;
}

#viewlog-button button{
    width:100px;
}

#add-addOption,#edit-addOption{
    width:100%;
}

#logo{
    width: 223px;
    height: 65px;
    left: 19px;
    top: 61px;
}

.add-newOption, .edit-newOption{
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.05);
    padding:20px;
    margin:20px 0;
}

#removeOption,#removeRetrievedOption{
    width:200px;
}

#add-submit, #edit-submit{
    width:100%;
}

#delete-yes, #availability-yes, #no{
    width:10%;
}

#add-newDish{
    width:200px;
    margin-bottom:10px;
}

#no{
    margin-left:2%;
}

.btn-sm, .btn-lg, .previous, .next{
    color: #ffffff;
    background-color: rgb(86,46,0);
}

.dataTables_paginate{
    width:auto;
    display:flex;
    align-items: center;
    justify-content: center;
}

.previous,.next{
    margin: 0 50px;
    border:0;
    border-radius: 2px;
}

#pageNumber{
    margin:10px 0;
}

.btn-sm:hover, .btn-lg:hover{
    color: #d5d5d5;
    background-color: rgb(68, 37, 0);
}

.container-sm-logo {
    padding: 10px;
    background-color: rgba(255, 255, 255);
}

.align-self-center{
    padding:0 20px;
}

.table{
    background-color: white;
}

.btn-sm:hover{
    color: #dadada;
}

.input-group-text{
    width:100px;
}

.container-fluid{
    width:90%;
}

.fixed-bottom{
    text-align: center;
    background-color: black;
    color:white;
}

.table th{
    color: #613C11FF;
    font-weight: bold;
}

thead, .modal-header{
    background-color: #EFB71AFF;
}

#sortTable_filter{
    display: none;
}

#pageNumber{
    text-align: center;
}

#logDetailTable{
    margin: 30px auto;
}

#errorMessage{
    border:2px solid rgba(166, 60, 60, 0.71);
    border-radius:5px;
    background-color: rgba(253, 95, 95, 0.71);
    color: #541e1e;
    font-size:17px;
    padding:10px;
}