body{
    background-color: #ffe5C7 !important;

    min-width: 330px;
}

header{
    background-color: white;
    box-shadow: 2px 0px 9px rgb(131 122 122 / 37%);
}

.nav-container{
    background-color: #EFB71AFF;
}

li a {
    color: #613C11FF;
    font-weight: bold;
}

li a:hover{
    transition:0.3s ease;
    color: #ffffff;
}

.mr-auto{
    margin-right: auto;
}

.logout{
    border: 0 !important;
    color: #ffffff !important;
    background-color: rgb(86,46,0) !important;
    width: 200px;
}

.functionality-button{
    background-color: rgb(68, 37, 0) !important;
    color:white !important;
}

#logo{
    width: 223px;
    height: 65px;
    left: 15px;
    top: 61px;
}

footer{
    text-align: center;
}

.custom-table-header > tr{
    background-color: #EFB71AFF;
    
    font-size: 1em;
    letter-spacing: .1em;
    text-transform: uppercase;
}

.custom-table-body > tr{
    background: rgb(255, 238, 219);
}