/* Gokul Gampala @ Team 30 | w18031735 | Northumbria University | Team Project and Professionalism KV6002 */
/* General Styling for the Webpage */
body{
    background: #ffe5C7;
}
/* Styling to the logo and name of the company, Begin */
#logodiv {
    padding: 10px;
    box-shadow: 0px 4px 4px #888888;
}

#logo {
    width: 223px;
    height: 65px;
    left: 19px;
    top: 61px;
}
/* Styling to the logo and name of the company, Begin */
/* Styling for Top navigation of the website, Begin */
.navbar{
    padding: 1px 1px ;
    line-height: 2;
}

nav {
    display: inline-block;
    font-weight: bold;
    width: 100%;
    background-color: #efb71a;
    /*color: rgb(68, 37, 0);*/
    color: #613C11FF;
    box-shadow: 0 4px 4px #888888;
    padding: 1rem 1rem;
}

.nav-link{
    /*color: rgb(68, 37, 0);*/
    color: rgb(215, 105, 26)
}

nav ul {
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    list-style: none;
    justify-content: space-evenly;
    background-color: #efb71a;
    /*color: rgb(68, 37, 0);*/
    color: #613C11FF;

}

nav ul li {
    margin: 0;
    /*width:16.6%;*/
    text-align:center;
}

nav a {
    /* font-family: Gill Sans, sans-serif;*/
    font-family: sans-serif;
    /* font-size: 18px;*/
    display: block;
    /*color: rgb(68, 37, 0);*/
    color: #613C11FF;
    text-decoration: none !important;
    padding: 5px 5px;

}

nav a:hover {
    color: rgb(68, 37, 0);
}

.active {
    color: white;
    background-color: rgb(68, 37, 0);
}

.active:hover{
    color:white;
}

#logout{
    background-color: rgb(86,46,0) !important;
    color: white;
    border-radius: 2px;
    transition-duration: 0.4s;
    width: 150px;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 5px;
}

#logout:hover{
    box-shadow: 2px 2px 2px 2px rgb(68, 37, 0);

}
/* Styling for Top navigation of the website, End */
/* Styling to the header image and heading, Begin */
#header {
    padding: 10px;
    background-color: rgba(255, 229, 199, 0.25);
}


#custfeedbackimg {
    width: 50px;
    height: 50px;
    left: 19px;
    top: 168px;
}

h1{
    font-family: Verdana;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
}
/* Styling to the header image and heading, End */
/* Styling for Feedback Table, Begin */
#tablehead{
    background-color: #efb71a;
    color: rgb(68, 37, 0);
}

#tabelfoot{
    background-color: #efb71a;
    color: rgb(68, 37, 0);
}

#myInput{
    width: 25%;
    float: right;
}
/* Styling for Feedback Table, End */
/* Styling for Dleted Query Page, Begin */
#deleted{
    padding: 10px;
    background-color: rgba(255, 229, 199, 0.25);
}
/* Styling for Dleted Query Page, End */
