
body{
    background-color:rgb(240, 240, 240);
}

header{
    background-color:rgb(240, 240, 240);
}

main{
    margin-top: 2%;
}

.dish-image{
    width: 100%;
    height: 100%;
    
}


.row-format{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}
.amount{
    margin: 0 1% 0 1%;
}

.carousel-controls > button{
    position: fixed;
}

#logo{
    height: 100%;
    width: 100%;
}

.scrollmenu{
    overflow: auto;
    white-space: nowrap;
    scrollbar-color: none;
    border-bottom: 2px solid black ;
}
.scrollmenu::-webkit-scrollbar {
    display: none;
}
.scrollmenu > button{
    border: none;
    border-radius: 7%;
}

.scrollmenu > button:hover{
    background-color: rgb(174, 187, 231);
}

.scrollmenu > button:active{
    background-color: rgb(174, 187, 231);


}